.side-bar
  .left-header
    .left-header__acount-area
      %h3.left-header__acount-area__user-name
        = current_user.name
      .left-header__acount-area__icon-area
        = link_to "#", class: "left-header__acount-area__icon-area__btn" do
          %i.far.fa-edit
        = link_to edit_user_path(current_user), class: "left-header__acount-area__icon-area__btn"do
          %i.fas.fa-cog
  .group-list
    .group-list__group-area
      .group-list__group-area__group-name
        group-name
      .group-list__group-area__group-message
        group-message
      .group-list__group-area__group-name
        group-name
      .group-list__group-area__group-message
        group-message