@import "color";

* {
  box-sizing: border-box;
}
.Wrapper {
  display: flex;
}

.main-chat {
  width: calc( 100vw - 300px );
  .right-header {
    background-color: $whiteColer;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    .group-area {
      &__group-name {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__member {
        display: flex;
        &__tag {
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
        &__user-name {
          margin-left: 3px;
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
      }
    }
    &__edit-btn {
      color: #38aef0;
      font-size: 16px;
      padding: 0 20px;
      line-height: 40px;
      height: 40px;
      width: 72px;
      border: #38aef0 solid 1px;
      margin-top: 28px;
      text-decoration: none;
    }
  }
  .message-field {
    background-color: #fafafa;
    height: calc( 100vh - 190px);
    padding: 35px 40px 0 40px;
    overflow: scroll;
    .message-area {
      &__user-status {
        margin-bottom: 12px;
        display: flex;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__timestamp {
          color: #999999;
          font-size: 12px;
        }
      }
      &__message {
        columns: #434a54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
  }
  .footer {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .form {
      display: flex;
      justify-content: space-between;
      &__contents {
        background-color: $whiteColer;
        position: relative;
        width: 100%;
        &__text-area {
          border: none;
          height: 50px;
          padding: 0 45px 0 15px;
          width: 100%;
        }
        &__post-btn {
          height: 50px;
          position: absolute;
          right: 10px;
          &__icon {
            line-height: 50px;
            font-size: 25px;
          }
          &__field {
            display: none;
          }
        }
      }
      &__send {
        background-color: #38AEF0;
        border: none;
        color: $whiteColer;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}